<% if flash.has?(:message) %>
  <div class="alert alert-success alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= flash[:message] %>
  </div>
<% end %>

<div class="row">
  <% @dogs.each do |dog| %>
  <div class="col-md-3 box-shadow card dog-card">
    <div class="row">
      <div class="col-md-4">
        <div class="avatar-container">
          <img class="avatar" src="http://via.placeholder.com/50x50" alt="">
        </div>
      </div>
      <div class="col-md-8 dog-name">
        <h4>
          <a href="/dogs/<%= dog.id %>">
            <%= dog.name %>
          </a>
        </h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <% if dog.activities.size >= 10 %>
          <embed src="//sparksvg.me/circle.svg?0,<%= dog.parse_activity_data %>&rgba:51,122,183,0.7&current&max&min" width="200" height="60" type="image/svg+xml">
        <% else %>
          <h5 class="pull-center">Add more activities to see graph</h5>
        <% end %>
      </div>
    </div>
  </div>
  <% end %>
</div>
