<% if flash.has?(:message) %>
  <div class="alert alert-success alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= flash[:message] %>
  </div>
<% end %>

<h3>Activity Feed</h3>

<table class="table table-hover">
  <% @activities.each do |activity| %>
    <tr>
      <td>
        <a href="/activities/<%= activity.id %>">
          <%= activity.generate_story %>
        </a>
      </td>
    </tr>
  <% end %>
</table>
